.neiposition{background:url(https://www.cmhxi.com.cn/static/fonts/95e2695717594f0f88cda1ce9fce6149.woff) no-repeat top;padding-top:55px;}

.manpics{width:265px;float:left;background:#fff;margin-left:20px;display:inline;}
.manpics ul{width:235px;height:280px;text-align:center;padding:15px 0 15px 12px!important;*padding:15px 0 12px 12px;}
.manpics ul li{font-size:1px;}
.manpics ol{margin-left:13px;width:250px;padding-bottom:15px;}
.manpics ol li{width:50px;float:left;height:61px;margin-right:12px;display:inline;font-size:1px;}

.peopledetail{background:#d6edf9 url(https://www.cmhxi.com.cn/static/images/minneitop.gif) no-repeat;padding-top:9px;color:#00517d;overflow:hidden}
.peopledetail p.detailbom{background:url(https://www.cmhxi.com.cn/static/images/minneibom.gif) no-repeat bottom;height:20px;}
.peopledetail h1{font-size:24px;font-weight:normal;font-family:黑体;color:#00517d;border-bottom:1px solid #9cc3d7;padding:20px 0 5px;margin:0px 15px 20px;}
.peopledetail h1 span{ float:right;width:515px;font-family:宋体, Arial, Helvetica, sans-serif;padding-top:13px;}
.peopledetail table{width:354px;float:right;border-collapse:collapse;line-height:23px;margin-right:40px;display:inline;}
.peopledetail table b{font-size:18px;color:#404040;display:block;padding:5px 0}
.peopledetail table p{text-indent:2em;padding:0px 5px;}
.peopledetail table td img{margin:5px 0px 3px;}

.minlist{background:url(https://www.cmhxi.com.cn/static/images/minpbombg.gif) no-repeat bottom;padding-bottom:6px;margin-top:8px;}
.minlist h1{height:42px;line-height:42px;background:url(../images/minptopbg.gif) no-repeat left top;padding:0 5px 0 15px;}
.minlist h1 span{float:right;margin-right:10px;padding-right:15px!important;*padding-right:12px;background:url(../images/morebg.gif) no-repeat right 18px;width:20px;}
.minlist h1 span a{font-family:Arial;font-weight:bold;font-size:10px;color:#0066cb;}
.minlist h1 span a:hover{color:#ff0000;}
.minlist ul{padding:10px 10px 8px 18px!important;*padding:10px 10px 10px 18px;line-height:29px;border-left:1px solid #c5e5f4;border-right:1px solid #c5e5f4;color:#00517d}
.minlist ol{padding:10px 50px;border-left:1px solid #c5e5f4;border-right:1px solid #c5e5f4;}
.minlist ol li{height:auto!important;height:30px;min-height:30px;overflow:visible;}
.minlist ol li.border{border-top:1px solid #cccccc;padding-top:15px;}
.minlist ol li.special{ padding:8px 0 0 155px!important;*padding:11px 0 0 155px;}
.minlist ol li span{color:#ff0000}
.minlist ol li em{color:#ff6600;font-style:normal;}
.minlist ol li input,.minlist ol li img{ vertical-align:middle;}
.minlist ol li strong{ float:right;}
.minlist ol li textarea{width:455px;height:100px;}
.minlist ol li div.biaoqing{float:right;width:155px;}

/*评论列表页*/
.commentlt{width:725px;float:left;border:1px solid #d0e4fc;background:#e3f2fb;}
.commentlt h2{height:42px;border-bottom:3px solid #00a8ff;background:url(https://www.cmhxi.com.cn/static/images/minicon07.gif) no-repeat left center;margin:5px 10px 0;}
.comcon{width:698px;margin:18px auto 0;}
.comcon p{background:url(https://www.cmhxi.com.cn/static/images/minicon12.gif) no-repeat right bottom;height:128px;padding-right:18px;width:114px;float:left}
.comcon p img{ background:#fff;padding:5px;}
.comcon dl{margin-top:4px;width:544px;height:106px;padding:6px 10px 10px;float:left;background:#fffcf5;border-top:1px solid #ff9600;border-bottom:1px solid #ff9600;border-right:1px solid #ff9600;}
.comcon dl dt{border-bottom:1px solid #ff9600;height:25px;line-height:25px;}
.comcon dl dt span{float:right;color:#999999;}
.comcon dl dd{text-indent:2em;line-height:22px;padding-top:5px;}
.comcon dl dd span{background:url(https://www.cmhxi.com.cn/static/images/minicon08.gif) no-repeat;width:84px;height:26px;text-align:center;line-height:24px;float:right;text-indent:0px;margin-left:3px;}
.gocomment{width:725px;}
.gocomment ol{padding:20px 0px 22px 30px;*padding:20px 0px 18px 30px!important;*padding:20px 0px 12px 30px;}
.gocomment ol li{height:auto!important;height:32px;min-height:32px;overflow:visible;}
.gocomment ol li.border{border-top:1px solid #cccccc;}
.gocomment ol li.special{ padding:10px 0 10px 255px;border-top:1px dotted #a9a9a9;margin:10px 30px 0 0}
.gocomment ol li span{color:#ff0000}
.gocomment ol li em{color:#ff6600;font-style:normal;}
.gocomment ol li input{ vertical-align:middle;}
.gocomment ol li textarea{width:640px;height:100px;margin-bottom:8px;}

.clearf{float: right;width: 440px;}































